<form class="">
    <div class="form-group">
        <input class="subscribe-email" id="searchText" type="text" placeholder="search..."/>
    </div>
    <button id="btn-search" type="submit"><span>Search</span></button>
</form>
<script type="text/javascript">
    $(function() {
       $('#btn-search').click(function (e) {
           e.preventDefault();
           var url = encodeURIComponent($("#searchText").val());
           location.href = "/search.html?query=" + url;
           console.log(url);
       });
    });
</script>