<nav class="site-nav">
    <div class="site-nav-left">
        <a href="" class="aside-nav-menu">
            <span class="icon-menu"></span>
        </a>
        {% if page.current == 'home' %}
            {% if page.navigation %}
                {% include navigation.html %}
            {% endif %}
        {% endif %}
    </div>
    <div class="site-nav-right">
        <div class="social-links">
            {% if page.current != 'home' %}
                {% if page.navigation %}
                    {% include navigation.html %}
                {% endif %}
            {% endif %}
        </div>
        <a href="#search" class="subscribe-button">Search</a>
    </div>
</nav>
